/*
font-family: 'Bebas Neue', cursive;
font-family: 'Poppins', sans-serif;
*/
html {
    scroll-behavior: smooth;
}
.master{
    overflow-x: hidden;
}
.master,
header,
section,
footer,
figure,
h1,h2,h3,h4,h5,h6{
    width: 100%;
    float: left;
    position: relative;
}

p{
    width: 100%;
    float: left;
    font-size: 16px;
}

*{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6,
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
    font-family: 'Bebas Neue', cursive;
}

a:hover{
    text-decoration: none;
}

section{
    padding: 100px 0;
}

figure{
    margin-bottom: 0;
}
figure img{
    width: 100%;
}
.ratio{
    width: 100%;
    height: 0;
    position: relative;
}
.ratio-16{
    padding-top: 56.25%;
}
.ratio-1{
    padding-top: 100%;
}
.ratio-75{
    padding-top: 75%;
}
.ratio-135{
    padding-top: 135%;
}
.ratio img,
.ratio iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-title{
    width: 100%;
    float: left;
    margin-bottom: 30px;
    position: relative;
}
.section-title h3{
    font-size: 64px;
    color: #F50506;
    line-height: 100%;
}
.section-title p{
    color: rgba(0,0,0,0.6);
    margin-bottom: 0;
}
.section-title a{
    position: absolute;
    top: 10px;
    right: 0;
}

.btn{
    min-width: 120px;
    padding: 12px 30px;
    font-size: 14px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border: none;
}
.btn-primary{
    background: #F50506;
    color: #fff;
}
.btn-primary:hover,
.btn-primary.active{
    background: #840001 !important;
    color: #fff;
}
.btn-secondary{
    background: #FFD7D7;
    color: #F50506;
}


.for-mobile{
    display: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 20px 0;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
header.scrolled{
    background: #2f2f2f;
    padding: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
header .logo{
    width: 88px;
    height: 60px;
    float: left;
}
header .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.menu{
    width: calc(100% - 88px);
    float: left;
    text-align: right;
    margin-top: 4px;
}
.menu .menu-item{
    display: inline-block;
    padding: 12px 20px;
    font-weight: 600;
    color: #fff;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    position: relative;
}
.menu .menu-item:hover{
    color: #F50506;
}
.menu .menu-item.btn-primary{
    margin-left: 20px;
}
.menu .menu-item::before{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background: rgba(245,5,6,0);
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.menu .menu-item.active::before{
    background: rgba(245,5,6,1);
    width: calc(100% - 40px);
}

.hero{
    padding: 0;
}
.hero .item{
    background: #000;
    height: 688px;
    position: relative;
}
.hero .item figure{
    position: absolute;
    top: 0;
    left: 0;
}
.hero .item .container{
    height: 688px;
}
.hero .item img{
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero .post{
    margin-top: 200px;
}
.hero .post h2{
    font-size: 100px;
    color: #fff;
    line-height: 100%;
}
.hero .post p{
    color: #fff;
    margin-bottom: 30px;
}

#solutions .card-holder{
    width: 100%;
    height: 462px;
    position: relative;
}
#solutions .card{
    background: #f2f2f2;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    overflow: hidden;
    border: none;
    height: 100%;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
#solutions .card figure{
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
#solutions .card .text{
    width: 100%;
    float: left;
    padding: 30px;
}
#solutions .card .text h3{
    font-size: 32px;
    margin-bottom: 15px;
}
#solutions .card .text h3 a{
    color: #333;
}
#solutions .card .text p{
    margin-bottom: 0;
    color: rgba(0,0,0,0.6);
    overflow: hidden;
    height: auto;
    max-height: 64px;
    line-height: 200%;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
#solutions::before{
    content: "";
    width: 100%;
    height: 385px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../images/bg-solutions.jpg) no-repeat center fixed;
    background-size: cover;
    z-index: -1;
}
#solutions .card:hover{
    padding-top: 40px;
    background: #fff;
    box-shadow: 0 8px 64px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 8px 64px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 8px 64px rgba(0,0,0,0.2);
}
#solutions .card:hover .text p{
    max-height: 300px;
}
#solutions .card:hover figure.ratio{
    padding-top: 0;
    transform: translateY(50px);
    -moz-transform: translateY(50px);
    -webkit-transform: translateY(50px);
}

#about p{
    line-height: 200%;
}
#about .section-title{
    margin-bottom: 0;
}

#services{
    background: url(../images/bg-services.jpg) no-repeat center fixed;
    background-size: cover;
}
#services .card-holder{
    width: 100%;
    float: left;
    height: 320px;
    position: relative;
}
#services .card{
    padding: 30px;
    height: 320px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background: rgba(255,255,255,0.18);
    border-color: rgba(255,255,255,0.23);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
#services .card .ico{
    margin-bottom: 30px;
    height: 80px;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
#services .card h4{
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}
#services .card p{
    color: rgba(255,255,255,0.6);
    font-size: 14px;
    overflow: hidden;
    max-height: 65px;
    margin-bottom: 0;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
#services .section-title{
    margin-bottom: 0;
}
#services .card:hover{
    height: 400px;
}
#services .card:hover .ico{
    height: 0;
    overflow: hidden;
    margin-bottom: 0;
}
#services .card:hover .text p{
    max-height: 250px;
    overflow-y: auto;
    text-align: left;
}
#services .card:hover .text p::-webkit-scrollbar{
    display: none;
}

.blog-card{
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    overflow: hidden;
    position: relative;
    background: #000;
}
.blog-card img{
    opacity: 50%;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.blog-card .text{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px;
    text-align: center;
}
.blog-card .text a{
    color: #fff;
}
.blog-card .text h3{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    margin-bottom: 20px;
}
.blog-card .text .meta-info span{
    color: rgba(255,255,255,0.7);
}
.blog-card .text .meta-info span i{
    margin-right: 10px;
}
.blog-card:hover img{
    width: 110%;
    height: 110%;
}

#client{
    background: #f4f4f4;
}

#wgroup .logo-group{
    width: 100%;
    float: left;
    text-align: right;
}
#wgroup .logo-group img{
    margin-left: 30px;
}

#contact{
    background: url(../images/bg-contact.jpg) no-repeat center fixed;
    background-size: cover;
    padding-bottom: 0;
}
#contact .section-title p{
    color: rgba(255,255,255,0.6);
}
form.contact{
    width: 100%;
    float: left;
}
form.contact .inp-group{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
form.contact .inp-group input,
form.contact .inp-group textarea{
    padding: 10px 20px;
    width: 100%;
    float: left;
    background: #2f2f2f;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    color: #fff;
}
form.contact .inp-group input{
    height: 52px;
}
form.contact .inp-group input:focus,
form.contact .inp-group textarea:focus{
    outline: none;
}

footer{
    padding: 100px 0;
    background: #840001;
}
.foot-title{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.foot-title h4{
    font-size: 32px;
    color: #fff;
}
footer p.info{
    padding-left: 30px;
    position: relative;
    color: rgba(255,255,255,0.6);
}
footer p.info i{
    position: absolute;
    left: 0;
    top: 3px;
} 

section.copy{
    padding: 20px 0;
}
section.copy p{
    margin-bottom: 0;
}
.social-media{
    text-align: right;
    font-size: 18px;
}
.social-media a{
    margin-left: 10px;
    color: #333;
}
.social-media a:hover{
    color: #840001;
}

.hero-slider .owl-prev,
.hero-slider .owl-next{
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    opacity: 0.5;
    text-indent: -200px;
    overflow: hidden;
}
.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover{
    opacity: 1;
}
.hero-slider .owl-prev{
    left: 20px;
    background: url(../images/left.png) no-repeat center;
}
.hero-slider .owl-next{
    right: 20px;
    background: url(../images/right.png) no-repeat center;
}

.burger{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    float: right;
    color: #fff;
    z-index: 8;
    margin-top: 13px;
    cursor: pointer;
}

/*BLOG*/
.page-cover{
    padding-top: 150px;
    background: #333;
}
.page-cover h2{
    color: #fff;
    font-size: 64px;
}
.page-cover .meta-info{
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
}
.page-cover .meta-info i{
    margin-right: 5px;
    font-size: 12px;
    transform: translateY(-1px);
}
.custom-breadcrumb{
    width: 100%;
    float: left;
    font-size: 14px;
    color: #fff;
}
.custom-breadcrumb a{
    margin: 0 5px;
    color: #fff;
}

.blogs .blog-card{
    margin-bottom: 20px;
}
.custom-pagination{
    width: 100%;
    float: left;
    margin-top: 40px;
}
.custom-pagination a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #f4f4f4;
    padding-top: 10px;
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    margin-left: -3px;
}
.custom-pagination a:first-child{
    border-radius: 12px 0 0 12px;
    -moz-border-radius: 12px 0 0 12px;
    -webkit-border-radius: 12px 0 0 12px;
}
.custom-pagination a:last-child{
    border-radius: 0 12px 12px 0;
    -moz-border-radius: 0 12px 12px 0;
    -webkit-border-radius: 0 12px 12px 0;
}
.custom-pagination a.active{
    color: #fff;
    background: #840001;
}

.article{
    width: 100%;
    float: left;
}
.article p,
.article li{
    font-size: 16px;
    line-height: 200%;
    color: #555;
}
.article h3{
    font-size: 32px;
    margin-bottom: 10px;
}
.article blockquote{
    width: 100%;
    float: left;
    padding: 30px;
    background: #f4f4f4;
    line-height: 200%;
    font-size: 18px;
    font-weight: 700;
    border-left: 5px solid #840001;
}
.article blockquote span{
    width: 100%;
    float: left;
    font-size: 14px;
    margin-top: 20px;
    position: relative;
    padding-top: 8px;
}
.article blockquote span::before{
    width: 30px;
    height: 3px;
    background: #840001;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.share-box{
    width: 100%;
    float: left;
    padding: 10px 20px;
    background: #f4f4f4;
}
.share-box h5{
    float: left;
    width: 30%;
    padding-top: 4px;
    margin-bottom: 0;
}
.share-box .socmed-group{
    float: right;
    width: 70%;
    text-align: right;
}
.share-box .socmed-group a{
    color: #333;
    font-size: 18px;
    width: 30px;
    text-align: center;
    display: inline-block;
    padding-top: 3px;
}
.bg-grey{
    background: #f4f4f4;
}
.foot-logo{
    display: block;
}

@media only screen and (max-width:1024px){
    .for-mobile{
        display: block;
    }
    .for-desktop{
        display: none;
    }

    .menu{
        position: fixed;
        top: 90px;
        right: -240px;
        z-index: 5;
        background: #001C4E;
        width: 240px;
        height: calc(100vh - 90px);
        transition: all ease-out 0.3s;
        -moz-transition: all ease-out 0.3s;
        -webkit-transition: all ease-out 0.3s;
        padding-top: 30px;
        padding-bottom: 30px;
        overflow-y: auto;
    }
    .menu.show{
        right: 0;
    }
    header.scrolled .menu{
        top: 70px;
        height: calc(100vh - 70px);
    }
    .menu .menu-item{
        width: 100%;
        color: #fff;
        float: left;
        margin-bottom: 10px;
    }
    .menu .menu-item::before{
        bottom: -6px;
        transform: translateX(0);
        left: auto;
        right: 20px;
    }
    .menu .menu-item.active::before{
        width: 30px;
    }
    .menu .menu-item.btn-primary{
        margin-left: 20px;
        width: calc(100% - 40px);
    }
    .menu .menu-item.btn-primary::before{
        display: none;
    }

    .hero .item,
    .hero .item .container,
    .hero .item figure{
        height: 500px;
    }
    .hero .post h2{
        font-size: 52px;
    }
    .hero .item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    section{
        padding: 60px 0;
    }
    p{
        font-size: 14px;
    }
    .section-title h3{
        font-size: 52px;
    }

    #solutions .card{
        margin-bottom: 15px;
    }

    #services .card{
        min-height: 0;
        margin-bottom: 15px;
    }
    #services .card .text p{
        margin-bottom: 0;
    }

    .blog-card{
        margin-bottom: 15px;
    }
    footer{
        padding: 60px 15px;
    }
    .foot-logo{
        margin-bottom: 60px;
    }
    .page-cover h2{
        font-size: 32px;
    }
}

@media only screen and (max-width:768px){
    .col-xs-6{
        width: 50%;
    }
    #wgroup .logo-group{
        margin-top: 30px;
    }
    #wgroup .logo-group img{
        width: 50%;
        height: 60px;
        object-fit: contain;
        margin: 10px 0;
        float: left;
    }
    .copy p{
        text-align: center;
    }
    .social-media{
        text-align: center;
        margin-top: 20px;
    }

    #services .card-holder{
        height: auto;
    }
    #services .card-holder .card{
        position: relative;
        top: auto;
        left: auto;
        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    #services .card-holder .card:hover{
        height: auto;
    }
    #services .card-holder .card:hover p{
        max-height: none;
        overflow-y: visible;
    }
}